
*{
    margin:0;
    padding: 0;
}

.main{
    display: flex;
    justify-content: center;
}
.btn-container{
    margin: 15px;
    padding: 10px;
    display: flex;
    
    flex-direction: row;
    justify-content:flex-start;

}
.color-btn{
   
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left:5px;
}

#red{
    background-color: red;
}
#green{
    background-color: green;
    color: white;
}
#black{
    background-color: black;
    color: white;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
    color: white;
}